
#==========================
# Python

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

#==========================
#folders

storage/
missing_dataset/
missing_search_cases/
child_dataset/
child_cases/
static/
uploads/


#==========================
#Encodings

*.pkl